<!DOCTYPE html>
<html >
  <head>
    <title>LayerKeep</title>
     <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag     'application', media: 'all' %>
    <%= javascript_include_tag  'application' %>
    <%= javascript_pack_tag     'application' %>

    <script>
      window.currentUser = {
        id:       "<%= current_user.id || '' %>",
        username: "<%= current_user.username %>",
        email:    "<%= current_user.email %>"
      }
      window.stripeApiKey = "<%= Rails.application.config.settings["stripe"]["api_key"] %> "
    </script>
    <script id="stripe-js" src="https://js.stripe.com/v3/" async></script>

    <%= render 'shared/mixpanel' %>
  </head>

  <body >
    <%= yield %>

    <script>
      if (window.mixpanel) {
        (function() {
          var controller  = "<%= controller_name %>";
          var action      =  "<%= action_name %>";
          if (currentUser.id != "") {
            mixpanel.identify(currentUser.id);
          }
          mixpanel.track("Page Load", {"pathname": document.location.pathname, "controller ": controller,  "action": action });
        })();
      }
    </script>
    <%= render 'shared/support' %>
  </body>
</html>
