<!DOCTYPE html>
<html>
  <head>
    <title>LayerKeep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'shared/mixpanel' %>
  </head>

  <body data-route="<%="#{controller_name}##{action_name}"%>">
    <%= render 'landing_nav' %>

    <% flash.each do |key, value| %>
      <% if value.include? "signed_up_but_User Has Not Been Approved" %>
        <div class="flash-message notification is-success">
          <h1 class="title is-5" style="text-align: center">Thank you for signing up, we will let you know as soon as you're approved.</h1>
        </div>

        <script>
          $('.flash-message').on('click', function(){
            $('.flash-message').hide();
          });

          setTimeout(function() {
            $('.flash-message').hide();
          }, 10000);
        </script>
      <% end %>
    <% end %>

    <%= yield %>

    <script>
      (function() {        
        mixpanel.track("Page Load", {"pathname": document.location.pathname});
      })();
    </script>
    <%= render 'shared/support' %>
  </body>
</html>
