<!DOCTYPE html>
<html>
  <head>
    <title>LayerKeep</title>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">      
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag     'application' %>
    <%= render 'shared/mixpanel' %>
    <script>
      var features = <%= (current_user && raw(current_user.subscription_handler.features.to_json)) || {} %>
      window.currentUser = {}
    </script>
  </head>

  <body data-route="<%="#{controller_name}##{action_name}"%>">
    <%= render 'main/landing_nav' %>

    <% flash.each do |key, value| %>
      <% if value.include? "signed_up_but_User Has Not Been Approved" %>
        <div class="flash-message notification is-success">
          <h1 class="title is-5" style="text-align: center">Thank you for signing up, we will let you know as soon as you're approved.</h1>
        </div>

        <script>
          $('.flash-message').on('click', function(){
            $('.flash-message').hide();
          });

          setTimeout(function() {
            $('.flash-message').hide();
          }, 10000);
        </script>
      <% end %>
    <% end %>

    <%= yield %>

    <script>
      (function() {        
        mixpanel.track("Page Load", {"pathname": document.location.pathname});
      })();
    </script>
    <%= render 'shared/support' %>
  </body>
</html>
